<h1><%=@pirate.name%></h1>
<h1><%=@pirate.height%></h1>
<h1><%=@pirate.weight%></h1>


<h2>Ships</h2>
<%Ship.all.each do |ship|%>
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Type: <%= ship.booty %></p>

<%end%>
